@import '../helpers';

#containerPrincipal{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 60px;
}

#imageProfile{
    width: 261px;
    height: 273px;
    margin-right: 122px;
}

#profileNameDescription{
    width: 348px;
}

#btnDownloadCv{
    background-color: $GreenDefault;
    border: none;
    color: #d2d2d2;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 18px;
    font-family: "bold";
    margin-top: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#btnDownloadCv:hover{
    transform: scale(1.1);
    background-color: darken($GreenDefault, 10%);
}

